// Gruvbox colors.
$background: #282828;
$red-dark: #cc241d;
$green-dark: #98971a;
$yellow-dark: #d79921;
$blue-dark: #458588;
$purple-dark: #b16286;
$aqua-dark: #689d6a;
$gray-dark: #928374;

$foreground: #ebdbb2;
$red-light: #fb4934;
$green-light: #b8bb26;
$yellow-light: #fabd2f;
$blue-light: #83a598;
$purple-light: #d3869b;
$aqua-light: #8ec07c;
$gray-light: #a89984;
